#form{
    
    padding-top: 20%;
    padding-right:30%;
}

input{
    float:right;
    width: 30em;
    border-radius: 0%;
    border: none;
    height:1.5em;
    width: 20em;
    
}

small{
    float:right;
}

#name, #email, #msg{
    margin-bottom: 10%;
}

button{
    height: 2em;
    width:20em;
    background-color:rgb(114, 114, 203)
}

button:hover{
    box-shadow: 0 0 10px 0 #ffee10 inset, 0 0 20px 2px #ffee10;
    border: 3px solid #ffee10;
}

.invalid{
    border: solid 2px red;
}

.valid{
    border: 2px solid green;
}