#softskills{
    display :grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 30%;
    margin-bottom: 10%;
    
}


#hardskills{
    display :grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30%;
    margin-bottom: 10%;
}

#hardskills>div{
    border:2px black solid;
    width:50%;
    padding: 2% 5% 2% 5%;
    background-color: rgb(126, 126, 183);
    border-radius: 10%;
    
}

#hardskills>div:hover{
    box-shadow: 0 0 10px 0 #ffee10 inset, 0 0 20px 2px #ffee10;
    border: 3px solid #ffee10;
}