

#links{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    position:sticky;
    top:0%;
    left:0%;
    margin-bottom: 10%;
}


#navbox{
   
    position: sticky;
    top:0%;
    background-color: transparent;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color:rgb(218, 199, 32);
    text-decoration: underline;
}
